@font-face {
    font-family: "Lato";
    src: url("../../assets/fonts/Lato/ttf/Lato-Light.ttf") format("ttf");
    src: url("../../assets/fonts/Lato/woff2/Lato-Light.woff2") format("woff2");
    font-weight: 300;
    font-display: fallback;
  }

  @font-face {
    font-family: "Lato";
    src: url("../../assets/fonts/Lato/ttf/Lato-Regular.ttf") format("ttf");
    src: url("../../assets/fonts/Lato/woff2/Lato-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: fallback;
  }

  @font-face {
    font-family: "Lato";
    src: url("../../assets/fonts/Lato/ttf/Lato-Bold.ttf") format("ttf");
    src: url("../../assets/fonts/Lato/woff2/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: fallback;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("../../assets/fonts/PlayfairDisplay/ttf/PlayfairDisplay-Regular.ttf") format("ttf");
    src: url("../../assets/fonts/PlayfairDisplay/woff2/PlayfairDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: fallback;
  }

  @font-face {
    font-family: "Playfair Display";
    src: url("../../assets/fonts/PlayfairDisplay/ttf/PlayfairDisplay-Italic.ttf") format("ttf");
    src: url("../../assets/fonts/PlayfairDisplay/woff2/PlayfairDisplay-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
  }

 

